<div class="row">
	<div class="col-6 col-lg-4"><%= render :partial => 'catalog/categories'%></div>
	<div class="col-12 col-sm-6 col-lg-8" id="products"><%= render :partial => 'catalog/products'%></div>
</div>