<%=@info2%>

<div id="clicker">update</div>

<div id="data_container">
    <%= render :partial => 'loaded_lines' %>
    <%#= render :template => 'catalog/show'%>
    <div><%= @y%></div>
</div>

<script>
    // $(function(){ $('#clicker').on('click',function(){ console.log(222); SendPost(); }) });
    // function SendPost() { $.ajax({ type: "post", url: "<%#=catalog_test_ajax_path%>", data: {"test_param": "test_value"}, }); }
</script>


