<!-- <h1>Welcome#index</h1> -->
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->





<!-- <div id="clicker">update</div> -->
<script>
	// $(function(){ $('#clicker').on('click',function(){ console.log(222); SendPost(); }) });
	// function SendPost() { $.ajax({ type: "post", url: "<%#=catalog_test_ajax_path%>", data: {"test_param": "test_value"}, }); }
</script>

<!-- <div id="products"> -->

<div class="row">
	<div class="col-6 col-lg-4"><%= render :partial => 'catalog/categories'%></div>
	<div class="col-12 col-sm-6 col-lg-8"><%= render :partial => 'catalog/products'%></div>
</div>


<!-- </div> -->


